---
layout: default
---

<section class="grid grid-cols-2 w-full lg:w-3xl gap-8 m-auto">
    {% set postslist = collections.interviews %}

    {% for post in postslist | reverse %}
        <img src="{{post.data.cover}}" alt="Robin Van der Plaetsen" class="w-full object-cover max-inline-sm">
        <article id="{{ post.data.title | slug }}" class="">
            <h2 class="font-bold text-3xl text-gray-900 mb-2">
                <a href="{{ post.url | url }}">
                    {% if post.data.title %}
                        {{ post.data.title }}
                    {% else %}
                        Untitled
                    {% endif %}
                </a>
            </h2>
            <h2 class="font-bold text-3xl text-gray-900 mb-2">
                <a href="{{ post.url | url }}">
                    {% if post.data.interviewee %}
                        {{ post.data.interviewee }}
                    {% else %}
                        Untitled
                    {% endif %}
                </a>
            </h2>
            <p class="text-base leading-6 text-gray-500 mb-3">
                <time>
                    {{ post.date | readableDate }}

                </time>
            </p>
            {% if post.data.description %}
                <p class="text-lg text-gray-500 mb-3">
                    {{ post.data.description }}
                </p>
            {% endif %}
            {% if post.content %}
                <p class="text-lg text-gray-500 mb-3">
                    {{ post.content | safe }}
                </p>
            {% endif %}

        </article>
    {% endfor %}
</section>