---
layout: default
---

<section class="flex flex-col w-full lg:max-w-3xl gap-16 m-auto">
    {% set postslist = collections.interviews %}

    {% for post in postslist | reverse %}
        {# We check if the loop index is even #}
        {% set isEven = loop.index % 2 == 0 %}

        <div class="grid grid-cols-1 lg:grid-cols-2 gap-8 items-center w-full">
            
            {# Image Block #}
            <img src="{{ post.data.cover }}" 
                 alt="{{ post.data.title }}" 
                 class="w-full object-cover rounded-sm {% if isEven %} lg:order-2 {% else %} lg:order-1 {% endif %}">

            {# Text Block #}
            <article id="{{ post.data.title | slug }}" 
                     class="flex flex-col {% if isEven %} lg:order-1 {% else %} lg:order-2 {% endif %}">
                
                <h2 class="font-bold text-3xl text-gray-900 mb-2">
                    <a href="{{ post.url | url }}" class="hover:text-blue-600">
                        {{ post.data.title if post.data.title else "Untitled" }}
                    </a>
                </h2>

                {% if post.data.interviewee %}
                <h3 class="font-semibold text-xl text-gray-700 mb-2">
                    {{ post.data.interviewee }}
                </h3>
                {% endif %}

                <p class="text-sm leading-6 text-gray-500 mb-3">
                    <time>{{ post.date | readableDate }}</time>
                </p>

                {% if post.data.description %}
                    <p class="text-lg text-gray-600 mb-3 italic">
                        {{ post.data.description }}
                    </p>
                {% endif %}

                {% if post.content %}
                    <div class="text-base text-gray-800">
                        {{ post.content | safe }}
                    </div>
                {% endif %}
            </article>
        </div>
    {% endfor %}
</section>